@charset "UTF-8";
$mainFontSize: 16px;
$paddingStart: 8px;
$bold: 600; 
$light: 100; 
$normal: 300; 
$hover: rgb(221,44,0);
$mainFontColor: #444;
$navyBlueColor: #3465a4;
$blueBackground: #adcff0;
$errorDialogColor: #db000d;
$confirmDialogColor: #3465a4;
$requiredColor: #f44336;
$tableHeaderBackground: #dddddd;
$fontFamily: Verdana, Calibri, Tahoma, Arial, sans-serif;