/.env
/.project
/.buildpath
/.settings/*
/vendor/*
/src/resources/node_modules/*
/TelosysTools/*
/storage/framework/*
/storage/framework/logs/*
/storage/logs/*
/bootstrap/cache/*.php
/spreadshet.json
/.phpunit.result.cache
